<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>

    <link rel="stylesheet" href="/main.css"/>
</head>
<body>
<form method="GET" action="/employees">
    <button type="submit" th:name="fromIndex" th:value="true">Zgłoszenie ilości</button>
</form>
<form method="GET" action="/newEmployee">
    <button type="submit">Nowy pracownik</button>
</form>
<form method="GET" action="/newMachine">
    <button type="submit">Nowa maszyna</button>
</form>

<br>
<br>
<tr th:each="re: ${reportedExecutions}">
    <td>
        <form method="get" action="/reportedExecution">
            <button type="submit" th:name="re" th:value="${re.id}" th:text="${re.toString()}"></button>
        </form>
    </td>
</tr>

</body>
</html>